input[type="text"] {
    height: 45px;
    width: 300px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 20px;
}

input::placeholder {
    font-size: 20px;
    padding: 10px;
}